.backdrop {
    height: 100%;
    background-image: repeating-linear-gradient(
        90deg, rgb(15, 3, 11), white 50%, rgb(15, 3, 11) 100%);
}

.notes {
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 50%;
    color: white;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    word-wrap: break-word;
    border-radius: 15px;
}

.headers {
    text-align: center;
}

table, th, td {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
}

/* scrollbar settings */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #dddddd; 
}