<div class="backdrop">
    <div class="notes">
        <mat-card>
            <mat-card-content>
                <h1 class="headers">Character Creation</h1>
                <p>
                    Most of character creation is spent on concept building and the Experience Matrix. Characters start with 50 Hit Points (HP) and 50
                    Special Points (SP). Select two weapons from the following list: light melee weapon, heavy melee weapon, simple ranged weapon,
                    and firearm ranged wepon. It is not required to track ammunition. Select light or heavy armor if desired. The rest of your abilities
                    and stats are derived from your selections on the Experience Matrix.
                </p>
                <h2 class="headers">Experience Matrix</h2>
                <p>
                    Starting characters select two nodes to begin with on the Experience Matrix. Upon ranking up, you may move to any nodes that are connected
                    to ones you currently occupy. There are eight types of nodes split into two categories: passive stats and abilities. Stats add a numerical
                    bonus to your character and have the following effects:
                </p>
                <ul>
                    <li>Vitality: Adds +10 HP.</li>
                    <li>Willpower: Adds +20 SP.</li>
                    <li>Might: Adds a +1 bonus to all sources of damage you inflict.</li>
                    <li>Speed: Gives you an additional Action Point (AP) per turn that can only be spent on movement. Additionally, adds a +1 bonus to initiative.</li>
                </ul>
                <p>
                    Abilities give your character unique options and come in four types:
                </p>
                <h4 class="headers" style="text-decoration: underline;">Actions</h4>
                <p>
                    Actions can be used to perform powerful maneuvers during combat. Each action has an AP and an SP cost to perform. If a player does not have the available
                    SP they may spend HP in its place. HP can only be spent once their SP has run out. Multiple actions can be used in a single turn, even multiples of the same
                    action, as long as the player has sufficient AP and SP/HP. The following is an example of an action:
                </p>
                <p>
                    Charge: 2 AP; 10 SP. Deal 1d6 damage to target at touch range. Increase this damage by 1d6 for each 10 feet increment traveled this turn.
                </p>
                <p>
                    If you moved 20 feet during a turn and still had 4 AP, you could use the Charge action two times to deal 4d6 damage to a creature you are
                    adjacent to, as long as you had enough SP or HP. Since it would be two distinct actions however, each instance of 2d6 damage is increased by your
                    might and reduced by your opponent's armor.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Skills</h4>
                <p>
                    Skills are similar to actions, but do not require an SP cost. They can be used endlessly as long as your character is still alive. Like actions, they can
                    be performed multiple times in a turn as long as you have AP. The following is an example of a skill:
                </p>
                <p>
                    Trip: 2 AP. You cause one target within touch range to fall prone.
                </p>
                <p>
                    Using this skill against an adjacent creature will cause them to gain the prone condition. Refer to the conditions page for more information about being prone.
                    You could use this skill against multiple different enemies in the same turn, provded you had enough AP and they did not already have the prone condition.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Spells</h4>
                <p>
                    Spells are similar to actions but with two major differences. First, you can combine multiple spells together with one other ability of any type to create
                    powerful effects that would not be possible alone. Consider the following spells:
                </p>
                <p>
                    Flame: 2 AP; 5 SP. You deal 2d4 fire damage to one target within touch. If this spell is applied three times to the same ability the target of the spell
                    receives the Burning condition.
                </p>
                <p>
                    Extend: 2 AP; 20 SP. You increase the range of your action by 10 feet. Each application of this effect further increases the range by 10 additional feet.
                </p>
                <p>
                    Using these two spells togther, you could deal 2d4 fire damage to a creature within 10 feet. But if you combine them with the basic jab ability with a light
                    melee weapon, you could deal 2d4 fire damage and 1d4 physical damage to a creature within 10 feet for 6 AP and 25 SP. All of this would be considered a single
                    ability and is increased by might/reduced by armor only once. 
                </p>
                <p>
                    The second difference between spells and actions are rituals. Rituals allow you to combine spells into an ability over multiple turns, as well as allow others
                    to combine their own spells into the ability. On your turn you must declare which spells are being added to the ritual and spend the appropriate SP. If you wish
                    to add spells to the ritual that you currently do not have enough AP for, the SP is paid and the difference in AP is subtracted from your next turn. At any
                    time during your turn you can choose to end the ritual without effect, but you are not refunded your SP. If you take damage during your ritual it can be
                    difficult to maintain focus. In addition to any damage taken, twice the amount is subtracted from your SP. If you run out of SP, the ritual fizzles without
                    effect. Other players may spend AP on their turn to add additional effects to the ability if they are adjacent to you.
                </p>
                <p>
                    For example, you may spend one turn adding three applications of the Flame spell to your ritual for 15 SP. On the following round of combat, you could add three
                    applications of the Extend spell for 60 SP and finish the ritual dealing 6d4 damage to a creature within 30 feet and apply the Burning condition to them.
                </p>
                <p>
                    Some combinations of spells and abilities do not immediately make sense in their resolution. For example, combining the Extend spell with a strike from a light
                    melee weapon. How does your melee weapon hit someone from 10 feet away? This is where the player takes creative control and comes up with a unique explanation
                    for their abilities. Perhaps their weapon flies from their hand and strikes them before returning. Maybe you cut threw the air with enough force to create a
                    damaging shockwave. As long as the explanation fits within the narrative of the actions and setting, feel free to personalize your experience with your abilities.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Talents</h4>
                <p>
                    Talents are powerful passive bonuses granted to your character. They are always considered active and do not consume any AP or SP. The following is an example
                    of a talent:
                </p>
                <p>
                    Elevation Specialist: All sources of damage dealt to targets that are 10 feet or more below you are increased by 5.
                </p>
                <p>
                    This talent encourages you to seek higher places to gain an advantage over your enemies. Talents can often be build-defining abilities for your character such
                    as this which almost necessitates a ranged weapon.
                </p>
                <h2 class="headers">Equipment</h2>
                <p>
                    Equipment is described in vague terms to allow you as a player to define the details of your arms and armor. Is your heavy weapon a giant sword or a tree trunk?
                    Is your light armor some studded leather or perhaps slick reptilian scales. As long as it fits within the narrative and theme of the game, you can have it be
                    whatever you want!
                </p>
                <h4 class="headers" style="text-decoration: underline;">Weapons</h4>
                <p>
                    Weapons give you access to basic abilities that damage foes up close if they are melee, or from afar if they are ranged. Refer to the table below to see the kinds
                    of abilities you can perform with these weapons.
                </p>
                <table class="table-info">
                    <tr>
                        <th>Melee Weapon</th>
                        <th>Ability</th>
                        <th>AP</th>
                        <th>Damage</th>
                        <th>Range</th>
                    </tr>
                    <tr>
                        <td>Light</td>
                        <td>Jab</td>
                        <td>2</td>
                        <td>1d4</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Strike</td>
                        <td>3</td>
                        <td>1d8</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Heavy</td>
                        <td>Thrust</td>
                        <td>4</td>
                        <td>2d8</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Force</td>
                        <td>5</td>
                        <td>2d10</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Combination</td>
                        <td>6</td>
                        <td>3d8</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Ranged Weapon</th>
                        <th>Ability</th>
                        <th>AP</th>
                        <th>Damage</th>
                        <th>Range</th>
                    </tr>
                    <tr>
                        <td>Simple</td>
                        <td>Shoot</td>
                        <td>3</td>
                        <td>1d8</td>
                        <td>80 feet</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Firearm</td>
                        <td>Fire</td>
                        <td>2</td>
                        <td>2d8</td>
                        <td>60 feet</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Reload</td>
                        <td>3</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
                <p></p>
                <h4 class="headers" style="text-decoration: underline;">Armor</h4>
                <p>
                    Armor provides your character with protection from damage at the cost of mobility. The damage reduction applies to all unique sources of damage you receive.
                    The AP cost is reduced from your starting total AP each turn.
                </p>
                <table class="table-info">
                    <tr>
                        <th>Name</th>
                        <th>Damage Reduction</th>
                        <th>AP Cost</th>
                    </tr>
                    <tr>
                        <td>Light Armor</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Heavy Armor</td>
                        <td>5</td>
                        <td>2</td>
                    </tr>
                </table>
                <p></p>
                <h2 class="headers">Combat</h2>
                <p>
                    Combat is turn-based with order determined by initiative rolls. But without attack rolls, the game is designed to be fast-paced and high-impact. The unique
                    combination of abilties that each character posseses gives them a variety of options available to them each turn.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Initiative</h4>
                <p>
                    Turn order is determined by a roll for initiative. Each player and enemy rolls 1d10 and adds their speed modifier to the roll. Order is played out
                    highest-to-lowest. Ties between players and enemies are settled by highest speed modifier. If there is still a tie, order between the tied combatants is
                    determined by a reroll. If two or more players are tied, they may act at the same time. This is the same for enemies at the GMs discretion.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Attacking</h4>
                <p>
                    There are no rolls used to determine if an attack has hit an enemy. Simply describe which actions you are using, your targets, and roll for damage if necessary.
                    Some damage may be reduced by your opponent's armor. Use this opportunity to describe how your character might perform that action in their own unique way.
                    Sometimes you simply make a few basic attacks, but clever combinations of abilities deserve a dramatic flourish.
                </p>
                <h4 class="headers" style="text-decoration: underline;">Injury and Death</h4>
                <p>
                    A character with at least one HP can still function without hindrance. If a player receives damage that equal to or greater than their current HP, that player
                    falls prone and loses their next turn. For every point over their HP, two points are subtracted from their SP. For example, if a player with 4 HP takes 7 damage,
                    they are reduced to 0 HP and lose 6 SP in addition to falling prone and losing their next turn. If a player continues to take damage while at 0 HP, twice the
                    damage is subtracted from their SP total.
                </p>
                <p>
                    If a player is reduced to 0 HP and 0 SP they die. Continuing to fight after falling to 0 HP might turn the tide of the battle, but it comes at the risk of your
                    own life.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
