<div class="backdrop">
    <div class="notes">
        <mat-card>
            <mat-card-content>
                <h1 class="headers">Conditions</h1>
                <p>
                    <u>Afraid</u>: Whenever you take an action that deals damage, roll 1d8 for each creature affected. On a roll of 1, 2, or 3 the action misses those targets.
                </p>
                <br>
                <p>
                    <u>Burning</u>: At the start of your turn you take 1d6 damage. Next turn the damage this condition causes increases by 1d6. New applications of this condition
                    increase the damage by 1d6. You may spend 4 AP to remove this condition. If you receive frost damage you lose this condition.
                </p>
                <br>
                <p>
                    <u>Enfeebled</u>: You must spend 3 AP to receive 1 AP worth of movement.
                </p>
                <br>
                <p>
                    <u>Freezing</u>: You start your turn with 2 fewer AP. This condition lasts for three turns. New applications of this condition increase the duration by three
                    turns. If you receive fire damage you lose this condition.
                </p>
                <br>
                <p>
                    <u>Invisibility</u>: You cannot be the target of an attack unless your opponent spends AP to determine your location. It takes 2 AP for a melee attack and 4 AP
                    for a ranged attack. You are still affected by an action that has an area effect that includes you.
                </p>
                <br>
                <p>
                    <u>Poisoned</u>: At the start of your turn you take 1d6 damage for each round of poison still left in your system.
                </p>
                <br>
                <p>
                    <u>Prone</u>: You may not make an attack with a heavy weapon, move, or perform a ritual while prone. All of your sources of damage are reduced by 2. Other
                    actions may be restricted. You can spend 2 AP to remove the prone condition.
                </p>
                <p>
                    <u>Shell</u>: Reduce the first instance of damage against you by half. Additional applications of Shell apply to subsequent attacks.
                </p>
                <br>
                <p>
                    <u>Static</u>: You take 1 point of damage for each AP spent this turn. This condition is removed if you end your turn without moving.
                </p>
                <br>
                <p>
                    <u>Vulnerable</u>: All sources of damage against you are doubled.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
